    table {
        border-collapse: collapse;
    }

td, th {
    border: 1px solid black;
    padding: 4px 20px;
}

#StrandmitPalme {
    width: 700px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.textblock {
    max-width: 700px;
    margin-top: 0;
    }

.Geschicht{
    width: 250px;
}

h4{
    margin-bottom: 5px;
}

h2{
    margin-bottom: 5px;
}

#inhalt {
    position: fixed;
    left: 0;              
    top: 0;               
    width: 200px;
    height: 100%;        
    background-color: #f0f0f0;
    padding: 15px;
    border-right: 1px solid #ccc;
}


body {
     margin: 0;
    margin-left: 250px;
}


#inhalt ul {
    padding-left: 20px;
}


#inhalt a {
    text-decoration: none;
    color: black;
}

#inhalt a:hover {
    text-decoration: underline;
}