    table {
        border-collapse: collapse;
    }

td, th {
    border: 1px solid black;
    padding: 4px 20px;
}

#StrandmitPalme {
    width: 700px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.textblock {
    max-width: 700px;
    margin-top: 0;
    }

.Geschicht{
    width: 250px;
}

h4{
    margin-bottom: 5px;
}

h2{
    margin-bottom: 5px;
}

#inhalt {
    position: fixed;
    left: 0;              
    top: 0;               
    width: 200px;
    height: 100%;        
    background-color: #d4eefc;
    padding: 15px;
    border-right: 1px solid #c2e8fc;
}


body {
     margin: 2;
    margin-left: 250px;
}


#inhalt ul {
    padding-left: 20px;
}


#inhalt a {
    text-decoration: none;
    color: black;
}

#inhalt a:hover {
    text-decoration: underline;
}

.section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.text {
    width: 30%;
}

.bild {
    width: 35%;
    margin-left: 20px;
    border-radius: 8px;
}
body {
    background-color: #d6f0fddc;
}

.slider {
  display: flex;
  overflow-x: auto;
}

.slide {
  min-width: 100%;
 text-align: center;

}

.slide img {
  width: 20%;
  aspect-ratio: 1 / 1;  
  object-fit: cover;
}

.slide p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}
#topBtn {
position: fixed;
bottom: 20px;
right: 20px; 
font-size: 25px;
padding: 10px;
border-radius: 10px;
background-color: #249ddf;
}